.info {
  width: 80%;
  margin: 50px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.info .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .remarks {
  display: flex;
  flex-direction: column-reverse;
}
.info .remarks p {
  background-color: #fff;
}
.info .remarks p:nth-child(odd) {
  background-color: #ececec;
}
.info span p {
  text-align: center;
  margin-bottom: 10px;
}
